h1 {
	padding: 10px;
	font-size: 3em;
	font-family: Cooper Black;
	text-align: center;
}
@media (min-width: 992px) {
	#section1 {
		position: relative;
		background-color: gray;
		box-sizing: border-box;
		width: 32%;
		height: 150px;
		border: 1px solid black;
		float: left;
		padding: 10px;
		margin: 10px;
	}
	#section2 {
		position: relative;
		background-color: gray;
		box-sizing: border-box;
		width: 32%;
		height: 150px;
		border: 1px solid black;
		float: left;
		padding: 10px;
		margin: 10px;
	}
	#section3 {
		position: relative;
		background-color: gray;
		box-sizing: border-box;
		width: 32%;
		height: 150px;
		border: 1px solid black;
		float: left;
		padding: 10px;
		margin: 10px;
	}
}
#p1 {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	width: 100px;
	height: 25px;
	background-color: pink;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
}
#p2 {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	width: 100px;
	height: 25px;
	background-color: red;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	color: white;
}

#p3 {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	width: 100px;
	height: 25px;
	background-color: #DEB887;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	color: black;
}

@media (min-width: 768px) and (max-width: 991px) {
	#section1 {
		position: relative;
		background-color: gray;
		box-sizing: border-box;
		width: 32%;
		height: 150px;
		border: 1px solid black;
		float: left;
		padding: 10px;
		margin: 10px;
	}
	#section2 {
		position: relative;
		background-color: gray;
		box-sizing: border-box;
		width: 32%;
		height: 150px;
		border: 1px solid black;
		float: left;
		padding: 10px;
		margin: 10px;
	}
	#section3 {
		position: relative;
		background-color: gray;
		box-sizing: border-box;
		width: 66.1%;
		height: 150px;
		border: 1px solid black;
		float: left;
		padding: 10px;
		margin: 10px;
	}
}
@media (max-width: 768px) {
	#section1 {
		position: relative;
		background-color: gray;
		box-sizing: border-box;
		width: 100%;
		height: 150px;
		border: 1px solid black;
		float: left;
		padding: 10px;
		margin: 10px;
	}
	#section2 {
		position: relative;
		background-color: gray;
		box-sizing: border-box;
		width: 100%;
		height: 150px;
		border: 1px solid black;
		float: left;
		padding: 10px;
		margin: 10px;
	}
	#section3 {
		position: relative;
		background-color: gray;
		box-sizing: border-box;
		width: 100%;
		height: 150px;
		border: 1px solid black;
		float: left;
		padding: 10px;
		margin: 10px;
	}
}
body {
	font-size: 120%;
}




